@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
     --red: hsl(0, 78%, 62%);
     --cyan: hsl(180, 62%, 55%);
     --orange: hsl(34, 97%, 64%);
     --blue: hsl(212, 86%, 64%);
     --darkBlue: hsl(234, 12%, 34%);
     --grayBlue: hsl(229, 6%, 66%);
     --lightGray: hsl(0, 0%, 98%);
}

body{
     display: flex;
     flex-direction: column;
     justify-content: center;
     font-family: 'Poppins', sans-serif;
     background-color: var(--lightGray);
}

.text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height: 20vh;
     padding: .8rem;
     text-align: center;
}

.text h1{
     font-weight: 300;
}

.text h2{
     color: var(--darkBlue);
     font-size: 2.2rem;
     font-weight: 600;
}

.text p{
     color: var(--grayBlue);
     padding: .5rem 1rem;
     max-width: 60ch;
     margin-top: 1.2rem;
     font-size: 1.1rem;
}

.images{
     display: grid;
     grid-template-columns: repeat(3,1fr);
     min-height: 70vh;
}

.container{
     background-color: #fff;
     width: max-content;
     padding: 1.5rem 3rem;
     border-radius: 10px;
     margin: 1.5rem;
}

.container h3{
     color: var(--darkBlue);
     margin-bottom: 1rem;
}

.container.supervisor{
     border-top: 4px solid var(--cyan);
}

.container.teamBuilder{
     border-top: 4px solid var(--red);
}

.container.karma{
     border-top: 4px solid var(--orange);
}

.container.calculator{
     border-top: 4px solid var(--blue);
}

.container .para p{
     max-width: 25ch;
     color: var(--grayBlue);
}

.box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.box:nth-child(1){
     align-items: flex-end;
}

.box:nth-child(3){
     align-items: flex-start;
}

.icon{
     display: flex;
     justify-content: end;
}

@media (max-width: 1146px){
     .images{
          grid-template-columns: repeat(1,1fr);
     }

     .text h2{
          font-size: 1.2rem;
     }

     .box:nth-child(1),
     .box:nth-child(3){
          align-items: center;
     }

     .container{
          width: fit-content;
          min-width: 18rem;
     }
}